.item-1 {
  width: 3px;
}
.item-2 {
  width: 6px;
}
.item-3 {
  width: 9px;
}
.item-4 {
  width: 12px;
}
.item-5 {
  width: 15px;
}
.item-6 {
  width: 18px;
}
.item-7 {
  width: 21px;
}
.item-8 {
  width: 24px;
}
.item-9 {
  width: 27px;
}
.item-10 {
  width: 30px;
}
.item-11 {
  width: 33px;
}
.item-12 {
  width: 36px;
}
.item-13 {
  width: 39px;
}
.item-14 {
  width: 42px;
}
.item-15 {
  width: 45px;
}
.item-16 {
  width: 48px;
}
.item-17 {
  width: 51px;
}
.item-18 {
  width: 54px;
}
.item-19 {
  width: 57px;
}
.item-20 {
  width: 60px;
}
.item-21 {
  width: 63px;
}
.item-22 {
  width: 66px;
}
.item-23 {
  width: 69px;
}
.item-24 {
  width: 72px;
}
.item-25 {
  width: 75px;
}
.item-26 {
  width: 78px;
}
.item-27 {
  width: 81px;
}
.item-28 {
  width: 84px;
}
.item-29 {
  width: 87px;
}
.item-30 {
  width: 90px;
}
.item-31 {
  width: 93px;
}
.item-32 {
  width: 96px;
}
.item-33 {
  width: 99px;
}
.item-34 {
  width: 102px;
}
.item-35 {
  width: 105px;
}
.item-36 {
  width: 108px;
}
.item-37 {
  width: 111px;
}
.item-38 {
  width: 114px;
}
.item-39 {
  width: 117px;
}
.item-40 {
  width: 120px;
}
.item-41 {
  width: 123px;
}
.item-42 {
  width: 126px;
}
.item-43 {
  width: 129px;
}
.item-44 {
  width: 132px;
}
.item-45 {
  width: 135px;
}
.item-46 {
  width: 138px;
}
.item-47 {
  width: 141px;
}
.item-48 {
  width: 144px;
}
.item-49 {
  width: 147px;
}
.item-50 {
  width: 150px;
}
.item-51 {
  width: 153px;
}
.item-52 {
  width: 156px;
}
.item-53 {
  width: 159px;
}
.item-54 {
  width: 162px;
}
.item-55 {
  width: 165px;
}
.item-56 {
  width: 168px;
}
.item-57 {
  width: 171px;
}
.item-58 {
  width: 174px;
}
.item-59 {
  width: 177px;
}
.item-60 {
  width: 180px;
}
